input:focus {
    outline: none !important;
}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
    flex-flow: row wrap;
}
.d-none {
    display: none !important;
}
.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.row-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}
input.form-control {
    height: 38px;
}
select.form-control:not([size]):not([multiple]) {
    height: 38px;
    line-height: 20px;
}
.mr-5px {
    margin-right: 5px !important;
}
.ml-5px {
    margin-left: 5px !important;
}
.mr-10px {
    margin-right: 10px !important;
}
.ml-10px {
    margin-left: 10px !important;
}
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
.errormsg {
    margin-top: 5px;
    font-style: italic;
    transition: all 0.2s ease-in-out;
}
#keywords.active {
    border-color: #FDC637;
}
.tagging .tag, .tagging .tag span {
    background-color: #966dc3 !important;
}
.tagging .tag span {
    padding-right: 0 !important;
    margin-right: 0 !important;
}
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}
.custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important;
}
label.custom-control {
    display: inline-block !important;
}
label.label-push {
    margin-bottom: 0;
    top: 0;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group > .form-control, .input-group > .custom-select, .input-group > .custom-file {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.input-group-prepend, .input-group-append {
    display: flex;
}
.tagging .type-zone {
    border: 0 none;
    height: 27px;
    width: auto;
    min-width: 20px;
    display: inline-block;
}
.flexbox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.flexitem {
    position: relative;
    flex: 1 1 auto;
}
.flexbuddy {
    flex: 1 1 auto;
}
.flexsolo {
    flex: 1 1 auto;
}
.designedby {
    display: block;
    position: relative;
    margin: 0 auto;
    font-size: 10px;
    text-align: center;
}
.designedby a {
    color: #ccc !important;
    text-decoration: none;
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 20px;
}
.designedby a:hover {
    color: #fff !important;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    text-decoration: none;
}
@-webkit-keyframes Gradient {
 0% {
 background-position: 0% 50%
}
 50% {
 background-position: 100% 50%
}
 100% {
 background-position: 0% 50%
}
}
 @-moz-keyframes Gradient {
 0% {
 background-position: 0% 50%
}
 50% {
 background-position: 100% 50%
}
 100% {
 background-position: 0% 50%
}
}
 @keyframes Gradient {
 0% {
 background-position: 0% 50%
}
 50% {
 background-position: 100% 50%
}
 100% {
 background-position: 0% 50%
}
}
@keyframes colorchange {
 0% {
color: #d4252c;
}
 50% {
color: #ff8400;
}
 100% {
color: #d4252c;
}
}
 @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
 0% {
color: #d4252c;
}
 50% {
color: #ff8400;
}
 100% {
color: #d4252c;
}
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: rgb(149, 149, 149);
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border-left: 1px solid;
    border-top: 1px solid;
    border-right: none;
    border-bottom: 1px solid;
    border-radius: 5px;
}
.navigation  {
    overflow-y:  visible !important;
}
.myshadow {
    box-shadow: 0px 1px 0px #999999;
}
.myshadow:hover {
    box-shadow: 0px 1px 0px #626262;
}
.text-center {
    text-align: center !important;
}
.bodywrapper {
    min-height: 100%;
    margin-bottom: -38px;
    padding-bottom: 40px;
}
#main-menu-navigation {
    height: 100%;
}
.header-navbar .navbar-container ul.nav li > .nav-link {
    padding: 1.5rem 1.6rem !important;
}
.bg-group {
    background-color: #787AD8 !important;
}
.tableCell {
    display: table-cell;
}

.deselectAllButton {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 1px solid #959595;
    border-radius: 5px;
    color: #FFF;
    background: #959595;
    font-size: 24px;
    padding: 4px;
    cursor: default;
}
.addToGroupButton {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 1px solid #787AD8;
    border-radius: 5px;
    color: #FFF;
    background: #787AD8;
    font-size: 24px;
    padding: 4px;
    cursor: default;
}
.deleteMultProfileButton {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 1px solid #DC5150;
    border-radius: 5px;
    color: #FFF;
    background: #DC5150;
    font-size: 24px;
    padding: 4px;
    cursor: default;
}
/*.linkFamilyButton {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 1px solid #CF6299;
    border-radius: 5px;
    color: #FFF;
    background: #CF6299;
    font-size: 24px;
    padding: 4px;
    cursor: default;
}*/
.thumbnail-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    transition: 0s;
}
.thumb-photo-place {
    position: relative;
    overflow: hidden;
    max-height: 360px;
    text-align: center;
    cursor: pointer;
    background-color: #000;
    margin: 0 !important;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    background: transparent !important;
    transition: all 0.3s ease-in-out;
}
.thumbnail-photo {
    width: 100%;
    position: relative;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    transition: all 0.35s ease-in-out;
}
/*.thumbnail-photo.active {
    filter: blur(5px);
}*/
.thumb-overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}
/*.thumb-overlay.active {
    visibility: visible;
    opacity: 1;
}*/
.thumb-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.editPanel {
    position: relative;
    width: 100%;
    top: 10px;
    padding: 0 10px;
    opacity: 0;
    z-index: 900;
    cursor: pointer;
    transform: translateY(-20px);
}
/*.editPanel.active {
    opacity: 1;
    transition: opacity 0.35s, transform 0.35s;
    transform: translateY(0);
}*/
.editButton {
    position: relative;
    display: inline-block;
    float: left;
    width: 40px;
    border: 1px solid #FDC637;
    border-radius: 5px;
    color: #FFF;
    background: #FDC637;
    font-size: 20px;
    padding: 4px;
    z-index: 900;
    cursor: default;
    text-transform: uppercase;
    font-weight: bold;
}
.deleteProfileButton {
    position: relative;
    display: inline-block;
    float: right;
    width: 40px;
    border: 1px solid #DC5150;
    border-radius: 5px;
    color: #FFF;
    background: #DC5150;
    font-size: 20px;
    padding: 4px;
    z-index: 900;
    cursor: default;
}
.thumb-info {
    visibility: hidden;
    opacity: 0;
    display: table;
    position: relative;
    top: -39px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    transform: translateX(-20px);
}
/*.thumb-info.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}*/
.thumb-info p {
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-size: 0.7em;
    text-align: left;
}
.thumb-info i {
    color: #1AB291;
    margin-right: 5px;
    font-size: 20px;
    position: relative;
    top: 3px;
}
.selectButton {
    position: absolute;
    left: 12px;
    bottom: 12px;
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
    border: 1px solid #50B4D1;
    border-radius: 5px;
    color: #FFF;
    background: #50B4D1;
    font-size: 16px;
    padding: 7px;
    opacity: 0;
    text-transform: uppercase;
    font-weight: bold;
    transform: translateY(20px);
    transition: all 0.2s ease-in-out;
}
/*.selectButton.active {
    opacity: 1;
    transition: opacity 0.35s, transform 0.35s;
    transform: translateY(0);
}*/
.activateButton {
    position: absolute;
    bottom: 12px;
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
    border: 1px solid #1AB291;
    border-radius: 5px;
    color: #FFF;
    background: #1AB291;
    font-size: 16px;
    padding: 7px;
    opacity: 0;
    text-transform: uppercase;
    font-weight: bold;
    transform: translate3d(0, 20px, 0);
}
.thumb-comments {
    display: none;
    visibility: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    transition: all 0.2s ease-in-out;
}
.thumb-comments.active {
    display: block;
    visibility: visible;
    opacity: 1;
}
.thumb-comments p {
    color: #ccc;
    margin: 0;
    padding: 10px 0;
}
.thumb-comments textarea {
    color: #fff;
    width: 90%;
    min-height: 70%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: transparent;
    cursor: text;
    outline: none;
}
.btn-clear-comments {
    background: none;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 12px;
    color: #ccc;
    border: 1px solid #ccc;
}
.btn-clear-comments:hover {
    background: #ccc;
    color: black;
}
.thumbnail-container.hasComment .btn-comments {
    color: #1AB291;
}
.name-place {
    font-size: 1.3rem;
    display: block;
    position: relative;
    color: #000;
    text-align: center;
    padding: 10px 0;
    background: #fff;
    transition: all 0.2s ease-in-out;
}
.name-place.casting, .name-place.group {
    font-size: 1rem;
}
.name-place:hover, .name-place:active, .name-place:visited, .name-place:focus {
    color: #000;
}
.thumbnail-toolbar {
    width: 100%;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    overflow: hidden;
}
.thumb-tools {
    height: 35px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.thumb-tools.active {
    transform: translateY(-200%);
}
.pnum {
    color: #c5c5c5;
    position: absolute;
    left: 15px;
    top: 16px;
    font-size: 1em;
}
.btn-like {
    display: inline-block;
    color: #cccccc;
    background: transparent;
    border: none;
    position: relative;
    font-size: 22px;
    padding: 2px 6px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.35s;
}
.btn-comments {
    display: inline-block;
    color: #cccccc;
    background: transparent;
    border: none;
    position: relative;
    font-size: 22px;
    padding: 2px 6px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.35s;
}
.btn-comments.active {
    color: #FDC637 !important;
}
.btn-hide {
    display: inline-block;
    color: #cccccc;
    background: transparent;
    border: none;
    position: relative;
    font-size: 22px;
    padding: 2px 6px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.35s;
}
.btn-hide i {
    position: relative;
    top: 2px;
}
.thumb-mob-actions {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    justify-content: space-between;
    transform: translateY(150%);
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}
.thumb-mob-actions.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(8px);
}
.mob-actions-inner {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}
.thumb-mob-actions button {
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.35s;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}
.btn-mob-edit {
    background: #FDC637;
}
.btn-mob-edit i {
    position: relative;
    top: 2px;
    left: 0;
}
.btn-mob-remove {
    background: #DC5150;
}
.btn-mob-remove i {
    position: relative;
    top: 2px;
    left: 0;
}
.btn-mob-delete {
    background: #DC5150;
}
.btn-mob-delete i {
    position: relative;
    top: 2px;
    left: 0;
}
.btn-mob-select {
    background: #50B4D1;
}
.btn-mob-select i {
    position: relative;
    top: 2px;
    left: 0;
}
.btn-toggle-mob-actions {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    margin: 0;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.35s;
    color: #959595;
    background: transparent;
    border: none;
}
.thumbnail-container.casting .thumb-info p, .thumbnail-container.group  .thumb-info p {
    font-size: 1em;
}
.thumbnail-container.casting .name-place, .thumbnail-container.group  .name-place {
    font-size: 0.9em;
}
.likedProfile .btn-like {
    color: red;
}
.thumbnail-container.hover .thumbnail-photo,.thumbnail-container.hover .imagesGroup {
    filter: blur(5px);
}
.thumbnail-container.hover .thumb-overlay {
    visibility: visible;
    opacity: 1;
}
.thumbnail-container.hover .thumb-info {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
.thumbnail-container.hover .editPanel {
    opacity: 1;
    transition: opacity 0.35s, transform 0.35s;
    transform: translateY(0);
}
.thumbnail-container.hover .selectButton {
    opacity: 1;
    transition: opacity 0.35s, transform 0.35s;
    transform: translateY(0);
}
.selectedProfile {
    border: 1px solid #50B4D1;
    box-shadow: 0px 0px 5px 0px #50B4D1;
    transition: 0s !important;
}
.selectedProfile .btn-mob-select {
    background: #959595;
}
.selectedProfile .name-place {
    background: #50B4D1;
    color: #fff;
}
.hiddenProfile .thumbnail-photo {
    opacity: 0.2;
}
.hiddenProfile .btn-hide {
    color: #5f5ea2;
}
.hiddenProfile .name-place {
    background: #f3f3f3;
    color: #959595;
}
/*.thumb-photo-place.active .imagesGroup {
    filter: blur(5px);
}*/
.imagesGroup {
    width: 106%;
    height: 106%;
    position: absolute;
    margin-left: -3%;
    margin-top: -3%;
    transition: all 0.35s;
    background: url(/template/app-assets/images/noimage.png);
    background-size: cover;
}
.imagesGroup1 .imagesGroupImg {
    width: 100%;
    height: 100%;
}
.imagesGroup2 .imagesGroupImg {
    width: 50%;
    height: 100%;
}
.imagesGroup3 .imagesGroupImg {
    width: 50%;
    height: 50%;
}
.imagesGroup3 .imagesGroupImg:nth-child(2) {
    width: 50%;
    height: 100%;
    float: right !important;
}
.imagesGroup4 .imagesGroupImg {
    width: 50%;
    height: 50%;
}
.imagesGroupImg {
    background-size: cover !important;
    display: inline-block;
    float: left;
    background-position: 50% 50% !important;
}
.dash .col-md-4, .search .col-md-4 {
    padding: 10px !important;
}
.div-thumbnail {
    position: relative;
    display: inline-block;
    margin: 0.2vw;
}
.div-thumbnail img {
    height: 300px;
    width: auto;
}
.deleteThumb {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    line-height: 1em;
    background: #DC5150;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-bottom-left-radius: 10px;
}
.img-thumbnail {
    height: 18vw;
    width: 18vw;
}
.header-navbar {
    padding-left: 6%;
}
.noUi-target {
    margin-left: 0px !important;
}
.pt0, .pt1, .pt2, .femaleField, .maleField {
    display: none;
}
.btn {
    border-radius: 5px !important;
}
.btn-success {
    -webkit-appearance: none !important;
}
.btn-secondary {
    -webkit-appearance: none !important;
}
.mybtn {
    display: inline-block;
    height: 46px;
    font-weight: normal;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    margin-left: 5px;
}
.mybtn2 {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: 10px 18px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    -webkit-appearance: none !important;
}
.grey {
    color: #959595 !important;
}
.green {
    color: #1AB291 !important;
}
.yellow {
    color: #FDC637 !important;
}
.red {
    color: #DC5150 !important;
}
.purple {
    color: #5f5ea2 !important;
}
.violet {
    color: #966dc3 !important;
}
.sea {
    color: #50b4d1 !important;
}
.btn-group .mybtn2:not(:first-child) {
    margin-left: 5px;
}
.mybtn-grey, .mybtn-grey:hover, .mybtn-grey:active, .mybtn-grey:visited, .mybtn-grey:focus {
    color: #FFF !important;
    border-color: #959595 !important;
    background-color: #959595 !important;
}
.mybtn-green, .mybtn-green:hover, .mybtn-green:active, .mybtn-green:visited, .mybtn-green:focus {
    color: #FFF !important;
    border-color: #1AB291 !important;
    background-color: #1AB291 !important;
}
.mybtn-yellow, .mybtn-yellow:hover, .mybtn-yellow:active, .mybtn-yellow:visited, .mybtn-yellow:focus {
    color: #FFF !important;
    border-color: #FDC637 !important;
    background-color: #FDC637 !important;
}
.mybtn-red, .mybtn-red:hover, .mybtn-red:active, .mybtn-red:visited, .mybtn-red:focus {
    color: #FFF !important;
    border-color: #DC5150 !important;
    background-color: #DC5150 !important;
}
.mybtn-purple, .mybtn-purple:hover, .mybtn-purple:active, .mybtn-purple:visited, .mybtn-purple:focus {
    color: #FFF !important;
    border-color: #787AD8 !important;
    background-color: #787AD8 !important;
}
.mybtn-sea, .mybtn-sea:hover, .mybtn-sea:active, .mybtn-sea:visited, .mybtn-sea:focus {
    color: #FFF !important;
    border-color: #50B4D1 !important;
    background-color: #50B4D1 !important;
}
.mybtn-group, .mybtn-group:hover, .mybtn-group:active, .mybtn-group:visited, .mybtn-group:focus {
    color: #FFF !important;
    border-color: #787AD8 !important;
    background-color: #787AD8 !important;
}
.mybtn-clear, .mybtn-clear:hover, .mybtn-clear:active, .mybtn-clear:visited, .mybtn-clear:focus {
    color: rgb(149, 149, 149) !important;
    border-color: rgb(149, 149, 149) !important;
    background-color: transparent !important;
}
.mybtn-transp, .mybtn-transp:hover, .mybtn-transp:active, .mybtn-transp:visited, .mybtn-transp:focus {
    color: rgb(149, 149, 149) !important;
    border-color: transparent !important;
    background-color: transparent !important;
}
.mybtnSide {
    margin-left: 5px;
    background: transparent;
    width: 38px;
    border: 1px solid #959595;
    border-radius: 5px;
    color: #959595;
    font-size: 18px;
    cursor: pointer;
}
.mybtnSide:hover {
    background: #959595;
    color: white;
}
.mybtnSide i {
    position: relative;
    top: 3px;
}
#hover-effects {
    webkit-transition: all 0.5s ease-in-out .5s;
    -moz-transition: all 0.5s ease-in-out .5s;
    -o-transition: all 0.5s ease-in-out .5s;
    -ms-transition: all 0.5s ease-in-out .5s;
    transition: all 0.5s ease-in-out .5s;
}
.mainToolbox {
    display: block;
    position: fixed;
    z-index: 500;
    bottom: 0;
    left: 50%;
    -ms-transform: translate(-50%, 50px); /* IE 9 */
    -webkit-transform: translate(-50%, 80px); /* Safari */
    transform: translate(-50%, 50px);
    opacity: 0;
    background-color: rgba(255,255,255,0.9);
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    webkit-transition: all 0.5s ease-in-out .5s;
    -moz-transition: all 0.5s ease-in-out .5s;
    -o-transition: all 0.5s ease-in-out .5s;
    -ms-transition: all 0.5s ease-in-out .5s;
    transition: all 0.3s ease-in-out .2s;
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.15);
}
.viewSwitcher {
    text-align: center;
}
.viewSwitcher button {
    width: 42px;
    height: 42px;
    margin: 5px 10px;
    display: inline-block;
    color: #959595 !important;
    border: 2px solid;
    border-radius: 5px;
    border-color: #959595 !important;
    background-color: transparent !important;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    padding: 5px;
    font-size: 24px;
    transition: all 0.2s ease-in-out;
    -webkit-appearance: none !important;
}
.profile-toolset {
    display: block;
    position: relative;
    padding: 0 15px 15px;
    margin-bottom: 50px;
}
.profile-id {
    background: #50b4d1;
    padding: 10px 15px;
    color: #FFF;
    font-size: 19px;
    border-radius: 5px;
    float: left;
}
.family-id {
    background: #F88A33;
    padding: 10px 15px;
    color: #FFF;
    font-size: 19px;
    margin-left: 10px;
    border-radius: 5px;
    float: left;
}
.section-title {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #ccc;
    line-height: 1.5;
    position: relative;
}
input::placeholder {
 color: #a9a9a9 !important;
 opacity: 1;
}
form select.not_chosen, .form select.not_chosen {
    color: #a9a9a9 !important;
}
.card {
    border: none !important;
}
.nav.groupOrCastPills .nav-link {
    color: #787AD8;
}
.nav.groupOrCastPills .nav-link.active, .nav.groupOrCastPills .nav-link.active:focus, .nav.groupOrCastPills .nav-item.open .nav-link, .nav.groupOrCastPills .nav-item.open .nav-link:focus {
    color: #fff;
    cursor: default;
    background-color: #787AD8 !important;
}
.nav.groupOrCastPills .nav-link.active:hover, .nav.groupOrCastPills .nav-link.active:focus {
    border: 1px solid #787AD8 !important;
}
.nav.groupOrCastPills .nav-link.active:hover, .nav.groupOrCastPills .nav-item.open .nav-link:hover {
    color: #fff;
    cursor: default;
    background-color: #787AD8 !important;
}
.nav.groupOrCastPills .nav-item {
    display: table-cell !important;
    width: 1% !important;
}
.header-navbar {
    padding-left: 0 !important;
}
.navbar-nav fieldset {
    margin-top: 0.3rem;
}
.modal-content {
    border: none !important;
    border-radius: 10px;
}
.modal-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0 !important;
}
.newGroupInput {
    border: 1px solid #959595;
    border-radius: 5px;
}
.basicInput {
    padding: 5px;
    border: 1px solid #959595;
    border-radius: 5px;
}
#formAttention {
    display: none;
    opacity: 0;
    position: fixed;
    top: 15px;
    left: 0;
    padding: 0 15px;
    width: 100%;
    text-align: center;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}
#formAttention div {
    display: inline-block;
    font-size: 18px;
    padding: 10px 15px;
    color: #fff;
    background-color: #DC5150;
    border: 1px solid #DC5150;
    border-radius: 10px;
}
#formAttention.active {
    display: block;
    opacity: 1;
}
.infoNote {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 7px 20px;
    color: #fff !important;
    background-color: #FDC637;
    border: 1px solid #FDC637;
    border-radius: 10px;
    margin: 10px 0 20px;
    left: 50%;
    transform: translateX(-50%);
}
.infoNote i {
    font-size: 20px;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    background-color: #FDC637;
    border: 1px solid #FDC637;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    left: -22px;
}
.castingURL {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 10px 0 30px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #5f5ea2;
    border-radius: 10px;
    padding: 10px 0px;
}
.castingURL .icon {
    color: #5f5ea2;
    position: relative;
    font-size: 26px;
}
.castingURL a.castingsheeturl {
    font-size: 16px;
    text-align: center;
    padding: 10px 17px;
    color: #5f5ea2 !important;
    text-transform: lowercase;
}
.castingURL .qr {
    color: #fff;
    position: relative;
    padding: 8px 10px;
    top: 5px;
    font-size: 26px;
    background-color: #5f5ea2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.noteTitle {
    position: relative;
    display: block;
    text-align: center;
    color: #000 !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: -5px;
}
.pagination.pagination-flat li.active a {
    border-radius: 2rem;
    padding: 0.5rem 0.75rem !important;
}
.page-link {
    font-size: 12px;
    color: #B0B0B0;
    background-color: transparent !important;
}
.page-link:hover, .page-link:active, .page-link:focus {
    color: #575757;
}
.page-item.active .page-link, .page-item.active .page-link:focus {
    background-color: #B0B0B0 !important;
    border-color: #B0B0B0 !important;
}
.form-group input[type="radio"]{
    -webkit-appearance: radio !important;
}
form .form-control, .form-group input, .form-group select {
    font-size: 16px;
    line-height: 1em;
    -webkit-appearance: none;
    border: 1px solid #959595;
    border-radius: 5px;
    padding-left: 10px !important;
    padding: 8px 10px !important;
}
select.picker__select--year, select.picker__select--month {
    font-size: 13px;
}
form .form-control:focus, .form-control:focus {
    border: 1px solid #FDC637 !important;
}
.input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text, .input-group > .input-group-append:not(:last-child) > .btn, .input-group > .input-group-append:not(:last-child) > .input-group-text, .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group .input-control:not(:last-child) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.input-group .input-control:not(:first-child):not(:last-child) {
    border-radius: 0 !important;
}
.input-group .input-control:not(:first-child) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.input-instagram, .input-press, .input-music, .input-video {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.dropdown-menu {
    min-width: none;
}
.field-actions {
    color: #cccccc;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0 5px 5px;
}
.field-actions.v2 {
    justify-content: space-between;
    position: relative;
    top: -15px;
}
.field-actions button {
    display: inline-block;
    color: #cccccc;
    background: transparent;
    border: none;
    position: relative;
    font-size: 20px;
    padding: 2px 6px;
    margin: 0;
    cursor: pointer;
    transition: all 0.35s;
}
.field-actions button:not(:last-child) {
    font-size: 13px;
}
.field-actions button i {
    position: relative;
    top: 2px;
}
#quickSearch {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem !important;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#quickSearch:focus {
    color: #55595c !important;
    background-color: #fff !important;
    border-color: #66afe9 !important;
    outline: none !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-section {
    margin-bottom: 40px !important;
}
.search.card {
    box-shadow: none !important;
    background: none !important;
}
.dash .card-block, .search .card-block {
    padding: 0;
}
.dash .grid-hover, .search .grid-hover {
    padding: 0;
}
.dash .grid-hover .col-md-4, .search .grid-hover .col-md-4 {
    padding: 0;
}

.castingStatus {
    color: #cccccc;
    position: absolute;
    right: 0;
    margin-right: 5px;
    margin-top: -49px;
    font-size: 1.4em;
    padding: 10px 12px;
    transition: all 0.35s;
}
select option:disabled {
    color: #808080;
}
#quickSearchResult {
    width: 95% !important;
    display: none;
    background: #FFF;
    position: relative;
    top: -1px;
    z-index: 10000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #66afe9;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}
#quickSearchResult li {
    list-style: none;
    border-bottom: 1px solid #AAA;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
#quickSearchResult li:last-child {
    border-bottom: none;
}
#quickSearchResult li a, #quickSearchResult li a:hover {
    color: #000;
}
#quickSearchResult span {
    font-size: 14px;
    margin-top: -3px;
    display: block;
    margin-bottom: 10px;
}
#quickSearchResult h5 {
    padding-top: 5px;
}
.userQuickImage {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-size: cover !important;
    float: left;
    margin-right: 15px;
}
.mobileForm h4 {
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 10px;
}
.mobileForm .mybtn2 {
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 3px;
    margin: 15px;
    padding: 13px 25px;
}
.vertical-overlay-menu .main-menu .navigation li.open > a:not(.mm-next):after {
    transform: none !important;
}
.profile-keywords span {
    opacity: 0.8;
    color: #fff;
    background-color: #966dc3;
    padding: 5px 10px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
.profile-keywords span:hover {
    opacity: 1;
}
.dropdown-item {
    color: #373a3c !important;
    padding: 10px 20px;
}
.dropdown-item:hover {
    background-color: rgba(253, 198, 55, 0.5) !important;
    cursor: pointer;
}
.dropdown-item.active {
    color: #373a3c !important;
    background-color: rgba(55, 188, 155, 0.5) !important;
}
.breadcrumb {
    font-size: 20px !important;
}
.breadcrumb-item a {
    color: #000;
}
.breadcrumb-item a:hover {
    color: #966dc3;
}
.breadcrumb-item.active {
    color: #000;
}
.table th, .table td {
    padding: 0.75rem;
}
/* Moema */
.button--moema {
/*	padding: 1.5em 3em;
	border-radius: 50px;
	background: #7986cb;
	color: #fff;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;*/
}
.button--moema::before {
    content: '';
    width: 46px;
    height: 46px;
    position: absolute;
    top: 0;
    background: inherit;
    border-radius: 5px;
    z-index: -1;
    opacity: 1;
    -webkit-transform: translateX(-11px) scale3d(0.5, 0.5, 1);
    transform: translateX(-11px) scale3d(0.5, 0.5, 1);
}
.button--moema:active::before {
    -webkit-animation: anim-moema-2 0.1s forwards;
    animation: anim-moema-2 0.1s forwards;
}
/* Switch 4 Specific Style Start */

.input_wrapper {
    width: 60px;
    height: 35px;
    position: relative;
    cursor: pointer;
}
.input_wrapper input[type="checkbox"] {
    width: 60px;
    height: 35px;
    cursor: pointer;
    border: 1px solid #959595;
    border-radius: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: rgba(26, 178, 145, 0.3);
    position: relative;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.input_wrapper.end input[type="checkbox"] {
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
}
.input_wrapper.bright input[type="checkbox"] {
    background: rgba(26, 178, 145, 1);
}
.input_wrapper.reverse input[type="checkbox"] {
    background: #ccc;
}
.input_wrapper.reverse input[type="checkbox"]:after {
}
.input_wrapper input[type="checkbox"]:focus {
    border-color: #FDC637;
}
.input_wrapper input[type="checkbox"]:after {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 25px;
    height: 25px;
    background: white;
    z-index: 2;
    border-radius: 15px;
    -webkit-transition: all .35s;
    transition: all .35s;
}
.input_wrapper svg {
    position: absolute;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    fill: #fff;
    -webkit-transition: all .35s;
    transition: all .35s;
    z-index: 1;
}
.input_wrapper .is_checked {
    width: 18px;
    left: 18%;
    -webkit-transform: translateX(190%) translateY(-30%) scale(0);
    transform: translateX(190%) translateY(-30%) scale(0);
}
.input_wrapper .is_unchecked {
    width: 15px;
    right: 10%;
    -webkit-transform: translateX(0) translateY(-30%) scale(1);
    transform: translateX(0) translateY(-30%) scale(1);
}
/* Checked State */
.input_wrapper input[type="checkbox"]:checked {
    background: #ccc;
}
.input_wrapper input[type="checkbox"]:checked:after {
    left: calc(100% - 29px);
}
.input_wrapper.reverse input[type="checkbox"]:checked {
    background: rgba(26, 178, 145, 0.6);
}
.input_wrapper.reverse input[type="checkbox"]:checked:after {
    background: white;
}
.input_wrapper input[type="checkbox"]:checked + .is_checked {
    -webkit-transform: translateX(0) translateY(-30%) scale(1);
    transform: translateX(0) translateY(-30%) scale(1);
}
.input_wrapper input[type="checkbox"]:checked ~ .is_unchecked {
    -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
    transform: translateX(-190%) translateY(-30%) scale(0);
}
/* Switch 4 Specific Style End */

input[type="radio"]:disabled, input[type="checkbox"]:disabled {
    cursor: not-allowed !important;
}


.custom-control-input:checked ~ .custom-control-indicator {
    background-color: rgba(26, 178, 145, 1);
}
.custom-control-indicator {
    width: 23px;
    height: 23px;
    top: 0;
    outline: none;
}
.custom-control-indicator:focus {
    border: 1px solid #FDC637;
}
.dropzone {
    border-radius: 10px;
}
 @keyframes anim-moema-1 {
 60% {
 border-radius: 5px;
 -webkit-transform: scale3d(0.8, 0.8, 1);
 transform: scale3d(0.8, 0.8, 1);
}
 85% {
 border-radius: 15px;
 -webkit-transform: scale3d(1.1, 1.1, 1);
 transform: scale3d(1.1, 1.1, 1);
}
 100% {
 border-radius: 30px;
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
}
}
@-webkit-keyframes anim-moema-2 {
 to {
 opacity: 0;
 border-radius: 30px;
 -webkit-transform: translateX(-11px) scale3d(2, 2, 2);
 transform: translateX(-11px) scale3d(2, 2, 2);
}
}
@keyframes anim-moema-2 {
 to {
 opacity: 0;
 border-radius: 30px;
 -webkit-transform: translateX(-11px) scale3d(2, 2, 2);
 transform: translateX(-11px) scale3d(2, 2, 2);
}
}



.photo-dropzone {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 200px;
    padding: 15px 15px 30px 15px;
    border: 2px dashed #967ADC;
    border-radius: 10px;
}
.photo-dropzone img {
    height: 300px;
    width: auto;
    margin: 10px;
}


/*Custom media queries*/
/*-----------------------------------------------------------------------------*/
@media (min-width: 1366px) {
form .form-control, .form-group input, .form-group select {
/*font-size: 1em !important;*/
}
}

@media (min-width: 1200px) and (max-width: 1366px) {
form .form-control, .form-group input, .form-group select {
/*font-size: 1em !important;
	line-height: 1em;*/
}
}

@media (max-width: 1199px) {
.header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-name {
    display: inline-block !important;
}
}

@media (max-width: 790px) {
.profile-toolset {
    padding-left: 0;
    padding-right: 0;
}
#quickSearchResult {
    width: 90% !important;
}
#quickSearchResult h5 {
    font-size: 1rem !important;
}
}

@media (max-width: 543px) {
.label-push {
    margin-bottom: 40px !important;
}
}

/*-----------------------------------------------------------------------------*/


/*Small devices (landscape phones, 544px and up)*/
/*-----------------------------------------------------------------------------*/

@media (max-width: 544px) {
.navbar-nav fieldset {
    margin-top: 0.3rem;
}
.thumb-info p {
    font-size: 1em !important;
}
.label-push {
    margin-bottom: 40px !important;
}
form.form-horizontal .form-group .label-control {
    text-align: left;
}
.breadcrumb {
    font-size: 15px !important;
}
}

/*-----------------------------------------------------------------------------*/


/*Medium devices (tablets, 768px and up)*/
/*-----------------------------------------------------------------------------*/

@media (min-width: 768px) {
.container {
    width: 100%;
}
.navbar-nav fieldset {
    margin-top: 1.1rem;
}
#main-menu-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
#main-menu-navigation li > .nav-link {
    padding: 1.5rem 0 !important;
}
.thumb-info p {
    font-size: 0.7em;
}
label.label-push {
    margin-bottom: 0 !important;
    top: -8px !important;
}
form.form-horizontal .form-group .label-control {
    text-align: right;
}
form .form-control, .form-group input, .form-group select {
/*font-size: 0.8em;*/
}
.breadcrumb {
    font-size: 20px !important;
}
.text-md-right {
    text-align: right !important;
}
}

/*-----------------------------------------------------------------------------*/


/*Extra large devices (large desktops, 1200px and up)*/
/*-----------------------------------------------------------------------------*/

@media (min-width: 1200px) {
.container {
    width: 1140px;
}
label.label-push {
    margin-bottom: 0 !important;
}
}
/*-----------------------------------------------------------------------------*/
