.navigation  {
    overflow-y:  visible !important;
}
.myshadow {
    box-shadow: 0px 1px 0px #999999;
}
.myshadow:hover {
    box-shadow: 0px 1px 0px #626262;
}
.text-center {
    text-align: center !important;
}
.bodywrapper {
    min-height: 100%;
    margin-bottom: -38px;
    padding-bottom: 40px;
}
#main-menu-navigation {
    height: 100%;
}
.header-navbar .navbar-container ul.nav li > .nav-link {
    padding: 1.5rem 1.6rem !important;
}
.bg-group {
    background-color: #787AD8 !important;
}
.tableCell {
    display: table-cell;
}
.editPanel {
    position: relative;
    width: 100%;
    top: 0;
    opacity: 0;
    z-index: 900;
    cursor: pointer;
    transform: translate3d(0, -20px, 0);
}
.editButton {
    position: relative;
    display: inline-block;
    float: left;
    width: 40px;
    border: 1px solid #FDC637;
    border-radius: 5px;
    color: #FFF;
    background: #FDC637;
    font-size: 20px;
    padding: 4px;
    z-index: 900;
    cursor: default;
    text-transform: uppercase;
    font-weight: bold;
/*    transform: translate3d(-10px, -20px, 0); */}
.deleteProfileButton {
    position: relative;
    display: inline-block;
    float: right;
    width: 40px;
    border: 1px solid #DC5150;
    border-radius: 5px;
    color: #FFF;
    background: #DC5150;
    font-size: 20px;
    padding: 4px;
    z-index: 900;
    cursor: default;/*    transform: translate3d(-10px, -20px, 0); */
}
.addToGroupButton {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 1px solid #787AD8;
    border-radius: 5px;
    color: #FFF;
    background: #787AD8;
    font-size: 24px;
    padding: 4px;
    cursor: default;
}
.deleteMultProfileButton {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 1px solid #DC5150;
    border-radius: 5px;
    color: #FFF;
    background: #DC5150;
    font-size: 24px;
    padding: 4px;
    cursor: default;
}
.linkFamilyButton {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 1px solid #CF6299;
    border-radius: 5px;
    color: #FFF;
    background: #CF6299;
    font-size: 24px;
    padding: 4px;
    cursor: default;
}
.thumbInfo {
    display: table;
    position: relative;
    top: -39px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.selectButton {
    position: absolute;
    bottom: 12px;
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
    border: 1px solid #50B4D1;
    border-radius: 5px;
    color: #FFF;
    background: #50B4D1;
    font-size: 16px;
    padding: 7px;
    opacity: 0;
    text-transform: uppercase;
    font-weight: bold;
    transform: translate3d(0, 20px, 0);
}
.mobSelectButton {
	display: none;
    position: absolute;
    bottom: 7px;
    right: 8px;
    border: 0;
    color: #50B4D1;
    background: transparent;
    font-size: 24px;
    padding: 3px 10px;
}
figure.effect-roxy:hover .editPanel {
    opacity: 1;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(0, 0, 0);
}
figure.effect-roxy:hover .selectButton {
    opacity: 1;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(0, 0, 0);
}
.div-thumbnail {
    height: 18vw;
    width: 18vw;
    background-size: cover !important;
    float: left;
    margin: 0.2vw;
}
.deleteButton {
    background: #FF0000;
    width: 2.5vw;
    height: 2.5vw;
    color: #FFF;
    float: right;
    text-align: center;
    padding: 0.5vw;
    cursor: pointer;
}
.img-thumbnail {
    height: 18vw;
    width: 18vw;
}
.header-navbar {
    padding-left: 6%;
}
.noUi-target {
    margin-left: 0px !important;
}
.pt0, .pt1, .pt2, .femaleField {
    display: none;
}
.btn {
    border-radius: 5px !important;
}
.btn-success {
    -webkit-appearance: none !important;
}
.btn-secondary {
    -webkit-appearance: none !important;
}
.mybtn {
    display: inline-block;
    height: 46px;
    font-weight: normal;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    margin-left: 5px;
}
.mybtn2 {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: 10px 18px;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    -webkit-appearance: none !important;
}
.grey {
    color: #959595 !important;
}
.green {
    color: #1AB291 !important;
}
.yellow {
    color: #FDC637 !important;
}
.red {
    color: #DC5150 !important;
}
.purple {
    color: #5f5ea2 !important;
}
.violet {
    color: #966dc3 !important;
}
.sea {
    color: #50b4d1 !important;
}
.btn-group .mybtn2:not(:first-child) {
    margin-left: 5px;
}
.mybtn-grey, .mybtn-grey:hover, .mybtn-grey:active, .mybtn-grey:visited, .mybtn-grey:focus {
    color: #FFF !important;
    border-color: #959595 !important;
    background-color: #959595 !important;
}
.mybtn-green, .mybtn-green:hover, .mybtn-green:active, .mybtn-green:visited, .mybtn-green:focus {
    color: #FFF !important;
    border-color: #1AB291 !important;
    background-color: #1AB291 !important;
}
.mybtn-yellow, .mybtn-yellow:hover, .mybtn-yellow:active, .mybtn-yellow:visited, .mybtn-yellow:focus {
    color: #FFF !important;
    border-color: #FDC637 !important;
    background-color: #FDC637 !important;
}
.mybtn-red, .mybtn-red:hover, .mybtn-red:active, .mybtn-red:visited, .mybtn-red:focus {
    color: #FFF !important;
    border-color: #DC5150 !important;
    background-color: #DC5150 !important;
}
.mybtn-purple, .mybtn-purple:hover, .mybtn-purple:active, .mybtn-purple:visited, .mybtn-purple:focus {
    color: #FFF !important;
    border-color: #787AD8 !important;
    background-color: #787AD8 !important;
}
.mybtn-group, .mybtn-group:hover, .mybtn-group:active, .mybtn-group:visited, .mybtn-group:focus {
    color: #FFF !important;
    border-color: #787AD8 !important;
    background-color: #787AD8 !important;
}
#hover-effects {
    webkit-transition: all 0.5s ease-in-out .5s;
    -moz-transition: all 0.5s ease-in-out .5s;
    -o-transition: all 0.5s ease-in-out .5s;
    -ms-transition: all 0.5s ease-in-out .5s;
    transition: all 0.5s ease-in-out .5s;
}
.mainToolbox {
    display: none;
    width: 200px;
    position: fixed;
    z-index: 500;
    top: 75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    background-color: rgba(243, 243, 243, 0.8);
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    webkit-transition: all 0.5s ease-in-out .5s;
    -moz-transition: all 0.5s ease-in-out .5s;
    -o-transition: all 0.5s ease-in-out .5s;
    -ms-transition: all 0.5s ease-in-out .5s;
    transition: all 0.5s ease-in-out .5s;
}
.viewSwitcher {
    text-align: center;
}
.viewSwitcher button {
    width: 42px;
    height: 42px;
    margin: 5px 10px;
    display: inline-block;
    color: #959595 !important;
    border: 2px solid;
    border-radius: 5px;
    border-color: #959595 !important;
    background-color: transparent !important;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    padding: 5px;
    font-size: 24px;
    transition: all 0.2s ease-in-out;
    -webkit-appearance: none !important;
}
.profile-toolset {
    display: block;
    position: relative;
    padding: 0 15px 15px;
    margin-bottom: 60px;
}
.profile-id {
    background: #50b4d1;
    padding: 10px 15px;
    color: #FFF;
    font-size: 19px;
    border-radius: 5px;
    float: left;
}
.family-id {
    background: #F88A33;
    padding: 10px 15px;
    color: #FFF;
    font-size: 19px;
    margin-left: 10px;
    border-radius: 5px;
    float: left;
}
.section-title {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #ccc;
    line-height: 1.5;
    position: relative;
}
.card {
    border: none !important;
}
.header-navbar {
    padding-left: 0 !important;
}
.navbar-nav fieldset {
    margin-top: 0.3rem;
}
.modal-content {
    border: none !important;
    border-radius: 10px;
}
.modal-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0 !important;
}
.newGroupInput {
    padding: 5px;
    border: 1px solid #959595;
    border-radius: 5px;
}
.basicInput {
    padding: 5px;
    border: 1px solid #959595;
    border-radius: 5px;
}
#formAttention {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    display: block;
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    padding: 10px 15px;
    color: #DC5150;
    background-color: #fff;
    border: 1px solid #DC5150;
    border-radius: 10px;
    z-index: 1000;
}
.infoNote {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 7px 20px;
    color: #fff !important;
    background-color: #FDC637;
    border: 1px solid #FDC637;
    border-radius: 10px;
    margin: 10px 0 20px;
    left: 50%;
    transform: translateX(-50%);
}
.infoNote i {
    font-size: 20px;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    background-color: #FDC637;
    border: 1px solid #FDC637;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    left: -22px;
}
.castingURL {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 10px 0 30px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #5f5ea2;
    border-radius: 10px;
    padding: 10px 0px;
}
.castingURL .icon {
    color: #5f5ea2;
    position: relative;
    font-size: 26px;
}
.castingURL a.castingsheeturl {
    font-size: 16px;
    text-align: center;
    padding: 10px 17px;
    color: #5f5ea2 !important;
    text-transform: lowercase;
}
.castingURL .qr {
    color: #fff;
    position: relative;
    padding: 8px 10px;
    top: 5px;
    font-size: 26px;
    background-color: #5f5ea2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.noteTitle {
    position: relative;
    display: block;
    text-align: center;
    color: #000 !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: -5px;
}
.page-link {
	background-color: transparent !important;
}

.page-item.active .page-link, .page-item.active .page-link:focus {
    background-color: #5f5ea2 !important;
    border-color: #5f5ea2 !important;
}


@media (max-width: 1199px) {
.header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-name {
    display: inline-block !important;
}
}

@media (max-width: 790px) {
.profile-toolset {
    padding-left: 0;
    padding-right: 0;
}
}

@media (min-width: 544px) {
.navbar-nav fieldset {
    margin-top: 0.3rem;
}
.grid-hover figure p {
    font-size: 1em !important;
}
.mainToolbox {
    top: 75px;
}
}

@media (min-width: 768px) {
.container {
    width: 100%;
}
.navbar-nav fieldset {
    margin-top: 1.1rem;
}
#main-menu-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
#main-menu-navigation li > .nav-link {
    padding: 1.5rem 0 !important;
}
.grid-hover figure p {
    font-size: 0.7em !important;
}
.mainToolbox {
    top: 150px;
}
}

@media (min-width: 1200px) {
.container {
    width: 1140px;
}
.mainToolbox {
    top: 150px;
}
}
form .form-control {
    border: 1px solid #959595;
    border-radius: 5px;
}
form .form-control:focus {
    border: 1px solid #FDC637;
}
.form-section {
    margin-bottom: 40px !important;
}
.search.card {
    box-shadow: none !important;
    background: none !important;
}
.dash .card-block, .search .card-block {
    padding: 0;
}
.dash .grid-hover, .search .grid-hover {
    padding: 0;
}
.dash .grid-hover .col-md-4, .search .grid-hover .col-md-4 {
    padding: 0;
}
.effect-roxy {
    margin: 0 !important;
    width: 100%;
    padding-bottom: 100%;
}
.effect-roxy img {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
figure.effect-roxy h2 {
    padding: 22% 0 10px 0 !important;
}
.dash .col-md-4, .search .col-md-4 {
    padding: 5px !important;
}
.thumbnail-container {
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    transition: 0s;
}
.name-place {
    font-size: 1.3rem;
    display: block;
    position: relative;
    top: 10px;
    color: #000;
    text-align: center;
    padding-bottom: 20px;
}
.name-place:hover {
    color: #000;
}
figure.effect-roxy figcaption {
    padding: 12px;
}
.grid-hover figure p {
    display: inline-block;
    font-size: 0.7em;
    text-align: left;
}
.selectedProfile {
    border: 3px solid #50B4D1;
    /*  box-shadow: 0px 0px 5px 0px #50B4D1;*/
    transition: 0s !important;
}
.effect-roxy:hover .imagesGroup {
    filter: blur(5px);
	opacity: 0.5;
	transition: all 0.35s;
}
.imagesGroup {
    width: 106%;
    height: 106%;
    position: absolute;
    margin-left: -3%;
    margin-top: -3%;
	transition: all 0.35s;
	background: url(/template/app-assets/images/noimage.png);
	background-size: cover;
}
.imagesGroup1 .imagesGroupImg {
    width: 100%;
    height: 100%;
}
.imagesGroup2 .imagesGroupImg {
    width: 50%;
    height: 100%;
}
.imagesGroup3 .imagesGroupImg {
    width: 50%;
    height: 50%;
}
.imagesGroup3 .imagesGroupImg:nth-child(2) {
    width: 50%;
    height: 100%;
    float: right !important;
}
.imagesGroup4 .imagesGroupImg {
    width: 50%;
    height: 50%;
}
.imagesGroupImg {
    background-size: cover !important;
    display: inline-block;
    float: left;
    background-position: 50% 50% !important;
}
.pnum {
    color: #c5c5c5;
    position: absolute;
    left: 0;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 0.8em;
}
.pheart {
    color: #cccccc;
    position: absolute;
    right: 0;
    margin-right: 5px;
    margin-top: -48px;
    font-size: 1.4em;
	padding: 10px 12px;
	transition: all 0.35s;
}
select option:disabled {
	color: #808080;
}
#quickSearchResult{
	background: #FFF;
	position: absolute;
	top: 56px;
	z-index: 100000;
	left: 50%;
	box-shadow: 0px 2px 2px #000;
	padding: 0;
	padding-left: 15px;
	padding-right: 15px;
}
#quickSearchResult li{
	list-style: none;
	border-bottom: 1px solid #AAA;
	width: 100%;
	margin-top: 10px;
	cursor: pointer;
	height: 70px;
}
#quickSearchResult li a,
#quickSearchResult li a:hover {
    color: #000;   
}
#quickSearchResult span{
	font-size: 14px;
	margin-top: -3px;
	display: block;
	margin-bottom: 10px;
}
#quickSearchResult h5{
	margin-bottom: 0px;
	padding-top: 5px;
}
.userQuickImage{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-size: cover !important;
	float: left;
	margin-right: 15px;
}
.mobileFrom h4{
	font-size: 28px;
	font-weight: 200;
	letter-spacing: 1px;
	margin: 10px;
}
.mobileFrom .mybtn2{
	font-size: 28px;
	font-weight: 100;
	letter-spacing: 3px;
	margin: 15px;
	padding: 13px 25px;
}