<div class="modal fade text-xs-left pr-0" id="removeFromGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger white">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel10">Remove profile from group</h4>
      </div>
      <div class="modal-body">
        <h5>Are you sure you want to remove this profile from this group?<br>
		  <br>
		  The profile will remain in the database.</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="mybtn2 mybtn-grey mr-1" data-dismiss="modal">Cancel</button>
        <a onclick="window.location='/groups/deleteFrom?id={$groupID}&profile=' + profileToDelete;" class="mybtn2 mybtn-red">Remove from group</a></div>
    </div>
  </div>
</div>
