{include file="header.tpl"}

{if $my->id>0}
{include file="modals/removeFromGroup.tpl"}
{include file="modals/removeMultipleFromGroup.tpl"}
{include file="modals/editGroup.tpl"}
{/if}
<section id="hover-effects">
  <div class="row">
    <div class="col-12 viewSwitcher mobile-only pb-1">
      <button type="button" id="scrollToBottom"><i class="icon-arrow-down4"></i></button>
    </div>
    <div class="col-12">
      <div class="breadcrumbs">
        <div class="breadcrumb-wrapper text-center">
          <ol class="breadcrumb d-inline-block p-0">
            <li class="breadcrumb-item"><a href="/groups">Groups</a></li>
            <li class="breadcrumb-item active">{$group->table->name}</li>
          </ol>
        </div>
      </div>
    </div>
    {if $my->id>0}
    <div class="col-12 text-center">
      <div class="btn-group">
        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn mybtn-green dropdown-toggle">Actions</button>
        <div class="dropdown-menu arrow">
          <button class="dropdown-item" data-toggle="modal" data-target="#editGroup" onclick="profileToEdit=$(this).data('id'); $('#editProfileGroupName').val($(this).data('name'));" data-id="{$group->table->id}" data-name="{$group->table->name}"><i class="ft-edit-2 mr-1"></i>Edit group</button>
          <div class="dropdown-divider mobile-only"></div>
          <button class="dropdown-item mobile-only active" id="viewAsThumbs"><i class="icon-grid2 mr-1"></i>View as grid</button>
          <button class="dropdown-item mobile-only" id="viewAsList"><i class="icon-align-justify2 mr-1"></i>View as List</button>
          <div class="dropdown-divider"></div>
          <button onclick="selectAll(); return false;" class="dropdown-item"><i class="ft-plus-circle mr-1"></i>Select all</button>
          <button onclick="selectFavs(); return false;" class="dropdown-item"><i class="ft-heart mr-1"></i>Select favorites</button>
          <!--<button class="dropdown-item btn-reveal-comments"><i class="ft-message-circle mr-1"></i>Reveal comments</button>--> 
        </div>
      </div>
    </div>
    {/if}
      {if $count>60}
    <div class="col-12">
      <div class="px-1">
        <ul class="pagination pagination-flat d-flex justify-content-center">
          {if $page>1}
          <li class="page-item{if $page==1} active{/if}"> <a class="page-link" href="?page={$page-1}" aria-label="Previous"> <span aria-hidden="true">«</span> <span class="sr-only">Previous</span> </a> </li>
          {/if}
          
          {for $foo=1 to $count/60}
          <li class="page-item{if $foo==$page} active{/if}"><a class="page-link" href="?page={$foo}">{$foo}</a></li>
          {/for}
          {if $page==$foo}
          <li class="page-item"> <a class="page-link" href="?page={$page+1}" aria-label="Next"> <span aria-hidden="true">»</span> <span class="sr-only">Next</span> </a> </li>
          {/if}
        </ul>
      </div>
      <hr class="mb-2">
    </div>
      {/if}
  </div>
  <div class="row">
    <div class="grid-hover"> {foreach from=$profiles item=t key=k}
      {assign var="size" value=getimagesize($t->photo)}
      <div class="col-md-4 col-xs-12 mb-2">
        <div class="thumbnail-container{if $t->fav} likedProfile{/if} {if $t->hidden} hiddenProfile{/if}{if $t->comment}hasComment{/if}" data-id="{$t->id}">
          <div class="thumb-photo-place"><img class="thumbnail-photo" src="{$t->thumbnail|replace:'/home/aibdh80ehx97/public_html/sncasting.com':''}" alt="Thumbnail" {if $size[0]>$size[1]}style="height: 380px; width: auto;"{/if}onerror="this.src='/template/app-assets/images/noimage.png'"/>
            <div class="thumb-overlay"></div>
            <div class="thumb-content"> {if $my->id>0}
              <div class="editPanel desktop-only">
                <button onclick="location='/profile/edit?id={$t->id}'" class="editButton" title="Edit profile"><i class="ft-edit-2"></i></button>
                <button class="deleteProfileButton" data-toggle="modal" data-target="#removeFromGroup" onclick="profileToDelete={$t->id}" title="Remove from group"><i class="ft-user-minus"></i></button>
              </div>
              {/if} <a class="thumb-info" href="/profile/view?id={$t->id}" style="{if $my->id==0}top: 0;{/if}">
              <p> {if $t->basedIn}<i class="ft-map-pin"></i><b>{$t->basedIn}</b><br>
                <br>
                {/if}
                {if $t->occupation}<i class="ft-award"></i><b>{$t->occupation}</b><br>
                <br>
                {/if}
                {if $t->height}<i class="ft-arrow-up"></i><b>{$t->height}</b>{/if}</p>
              </a> {if $my->id>0}
              <button class="selectButton desktop-only" onclick="selectProfile(this)" title="Select profile">Select</button>
              {/if} </div>
            <div class="thumb-comments">
              <p class="text-center">Type comments here:</p>
              <textarea class="comment-input" spellcheck="false">{$t->comment}</textarea>
              <button class="btn-clear-comments" onclick="clearComments(this, 'groups', {$group->table->id}, {$t->id});">CLEAR COMMENTS</button>
              <button class="btn-clear-comments" onclick="saveComments(this, 'groups', {$group->table->id}, {$t->id});">SAVE COMMENTS</button>
            </div>
          </div>
          <a class="name-place" href="/profile/view?id={$t->id}">{$t->firstName}&nbsp;{$t->lastName}</a>
          <div class="thumbnail-toolbar">
            <div class="thumb-tools">
              <button class="btn-comments"><i class="fa fa-comment" title="Profile comments"></i></button>
              <button class="btn-like" onclick="loveProfile(this, 'groups', {$groupID}, {$t->id})" title="Mark as favorite"><i class="fa fa-heart"></i></button>
              
              {if $my->id>0}
              <button class="btn-hide" onclick="hideProfile(this, 'groups', {$group->table->id}, {$t->id})"><i class="{if $t->hidden}ft-eye-off{else}ft-eye{/if}"></i></button>
              {/if} </div>
            {if $my->id>0}
            <div class="thumb-mob-actions">
              <div class="mob-actions-inner">
                <button class="btn-mob-edit" onclick="location='/profile/edit?id={$t->id}'" title="Edit profile"><i class="ft-edit-2"></i></button>
                <button class="btn-mob-remove" data-toggle="modal" data-target="#removeFromGroup" onclick="profileToDelete={$t->id}" title="Remove from group"><i class="ft-x"></i></button>
                <button class="btn-mob-select" onclick="mobSelectProfile(this)"><i class="ft-plus-circle mob-select-icon" title="Select profile"></i></button>
              </div>
            </div>
            <button class="btn-toggle-mob-actions mobile-only"><i class="ft-more-horizontal"></i></button>
            {/if} </div>
        </div>
      </div>
      {/foreach} </div>
  </div>
  <div class="row"> {if $count>60}
    <center style="width: 100%; display: inline-block;">
      <ul class="pagination pagination-flat d-flex justify-content-center">
        {if $page>1}
        <li class="page-item{if $page==1} active{/if}"> <a class="page-link" href="?page={$page-1}" aria-label="Previous"> <span aria-hidden="true">«</span> <span class="sr-only">Previous</span> </a> </li>
        {/if}
        
        {for $foo=1 to $count/60}
        <li class="page-item{if $foo==$page} active{/if}"><a class="page-link" href="?page={$foo}">{$foo}</a></li>
        {/for}
        {if $page==$foo}
        <li class="page-item"> <a class="page-link" href="?page={$page+1}" aria-label="Next"> <span aria-hidden="true">»</span> <span class="sr-only">Next</span> </a> </li>
        {/if}
      </ul>
    </center>
    {/if} </div>
  <div class="row">
    <div class="col-12 viewSwitcher mobile-only">
      <button type="button" id="scrollToTop" class="mt-2 mb-2"><i class="icon-arrow-up4"></i></button>
    </div>
  </div>
</section>
{include file="footer.tpl"}