<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<title>Shay Nielsen Casting</title>
<link rel="apple-touch-icon" sizes="60x60" href="/template/app-assets/images/ico/apple-icon-60.png">
<link rel="apple-touch-icon" sizes="76x76" href="/template/app-assets/images/ico/apple-icon-76.png">
<link rel="apple-touch-icon" sizes="120x120" href="/template/app-assets/images/ico/apple-icon-120.png">
<link rel="apple-touch-icon" sizes="152x152" href="/template/app-assets/images/ico/apple-icon-152.png">
<link rel="shortcut icon" type="image/x-icon" href="/template/app-assets/images/ico/favicon.ico">
<link rel="shortcut icon" type="image/png" href="/template/app-assets/images/ico/favicon-32.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<!-- BEGIN VENDOR CSS-->
<link rel="stylesheet" type="text/css" href="/template/app-assets/css/bootstrap.css">
<!-- font icons-->
<link rel="stylesheet" type="text/css" href="/template/app-assets/fonts/icomoon.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/fonts/feather/style.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/fonts/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/fonts/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/vendors/css/sliders/slick/slick.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/vendors/css/extensions/pace.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/vendors/css/ui/prism.min.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/css/components.min.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/css/plugins/forms/extended/form-extended.min.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/vendors/js/gallery/photo-swipe/photoswipe.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/vendors/js/gallery/photo-swipe/default-skin/default-skin.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/vendors/css/pickers/daterange/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/vendors/css/pickers/datetime/bootstrap-datetimepicker.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/vendors/css/pickers/pickadate/pickadate.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/vendors/css/file-uploaders/dropzone.min.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/vendors/css/extensions/nouislider.min.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/vendors/css/forms/toggle/bootstrap-switch.min.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/vendors/css/extensions/toastr.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/vendors/css/forms/tags/tagging.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/vendors/css/forms/toggle/switchery.min.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/css/core/colors/palette-callout.css">
<!-- END VENDOR CSS-->
<!-- BEGIN ROBUST CSS-->
<link rel="stylesheet" type="text/css" href="/template/app-assets/css/bootstrap-extended.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/css/app.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/css/colors.css">
<!-- END ROBUST CSS-->
<!-- BEGIN Page Level CSS-->
<link rel="stylesheet" type="text/css" href="/template/app-assets/css/core/menu/menu-types/horizontal-menu.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/css/core/menu/menu-types/vertical-overlay-menu.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/css/pages/gallery.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/css/plugins/pickers/daterange/daterange.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/css/plugins/file-uploaders/dropzone.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/css/pages/users.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/css/pages/timeline.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/css-rtl/plugins/extensions/noui-slider.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/css-rtl/core/colors/palette-noui.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/css-rtl/plugins/forms/switch.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/css-rtl/core/colors/palette-switch.css">
<link rel="stylesheet" type="text/css" href="/template/app-assets/css/plugins/extensions/toastr.min.css">



    <link rel="stylesheet" type="text/css" href="/template/app-assets/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="/template/app-assets/vendors/css/forms/icheck/custom.css">
    
    
    <link rel="stylesheet" type="text/css" href="/template/app-assets/css/plugins/forms/checkboxes-radios.min.css">
<!-- END Page Level CSS-->
<!-- BEGIN Custom CSS-->
<link rel="stylesheet" type="text/css" href="/template/app-assets/css/style.css">
<!-- END Custom CSS-->
</head>
<body data-open="hover" data-menu="horizontal-menu" data-col="2-columns" class="horizontal-layout horizontal-menu 2-columns ">
	
	{if $my->id==0} 
<div class="header-navbar navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-shadow" role="navigation" data-menu="menu-wrapper">
      <div class="navbar-container main-menu-content container center-layout" data-menu="menu-container">
        <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
          <li class="nav-item"><img alt="Shay Nielsen Casting" src="/template/app-assets/images/snc-logo.jpg" class="img-fluid" style="height: 45px; margin-top: 7px;">
          </li>
         
        </ul>
      </div>
    </div>
	{/if}
	
<div class="bodywrapper">
    
{if $my->id>0}    

{include file="modals/newGroup.tpl"}
    

	
<!-- navbar-fixed-top-->
<nav class="header-navbar navbar navbar-with-menu navbar-static-top navbar-light navbar-border navbar-brand-center">
  <div class="navbar-wrapper">
    <div class="navbar-header" style="width: 50%; z-index: 1000;">
      <ul class="nav navbar-nav">
        <li class="nav-item mobile-menu hidden-md-up float-xs-left"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5 font-large-1"></i></a></li>
        <li>
          <fieldset class="form-group relative col-md-12 col-xs-10 float-xs-right">
            <input id="quickSearch" type="text" placeholder="Quick search..." onblur="$('#quickSearchResult').fadeOut();" onkeyup="quickSearch(event)" style="    border-radius: 1.5rem !important;">
			  <ul id="quickSearchResult" class="mx-auto"></ul>
          </fieldset>
        </li>
        <!--            <li class="nav-item"><a href="index.html" class="navbar-brand nav-link"><img alt="branding logo" src="/template/app-assets/images/small-logo.jpg" class="brand-logo" style="height: 40px;"></a></li>
-->
      </ul>
    </div>
    <div class="navbar-container container center-layout" style="width: 100% !important;">
      <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
        <ul class="nav navbar-nav float-xs-left">
          <li><a href="index.html" class="navbar-brand"><img alt="Shay Nielsen Casting" src="/template/app-assets/images/snc-logo.jpg" class="brand-logo" style="height: 50px; margin: 7px 0 0 10px;"></a></li>
        </ul>
        <ul class="nav navbar-nav float-xs-right">
          <li class="dropdown dropdown-user nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link" style="padding: 1.4rem 0.6rem;"><span class="user-name">{$userName}</span> &nbsp; </a>
            <div class="dropdown-menu dropdown-menu-right">
				<!--a href="#" class="dropdown-item"><i class="ft-users"></i>Users</a-->
				<!--div class="dropdown-divider"></div-->
				<a href="{$smarty.server.REQUEST_URI|replace:'?sort=alph':''|replace:'?sort=date':''|replace:'&sort=alph':''|replace:'&sort=date':''}{if $smarty.server.REQUEST_URI|replace:'?sort=alph':''|replace:'?sort=date':''|strstr:"?"}&{else}?{/if}sort=alph" class="dropdown-item {if $sort=="alph"}active{/if}"><i class="ft-chevrons-down mr-1"></i>Sort alphabetically</a>
				<a href="{$smarty.server.REQUEST_URI|replace:'?sort=alph':''|replace:'?sort=date':''|replace:'&sort=alph':''|replace:'&sort=date':''}{if $smarty.server.REQUEST_URI|replace:'?sort=alph':''|replace:'?sort=date':''|strstr:"?"}&{else}?{/if}sort=date" class="dropdown-item {if $sort=="date"}active{/if}"><i class="ft-chevrons-down mr-1"></i>Sort by date</a>
				<div class="dropdown-divider"></div>
				<a href="/exit" class="dropdown-item"><i class="icon-power3"></i>Logout</a>
			  </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- ////////////////////////////////////////////////////////////////////////////--> 

<!-- Horizontal navigation-->
<div role="navigation" data-menu="menu-wrapper" class="header-navbar navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-bordered navbar-shadow"> 
  <!-- Horizontal menu content-->
  <div data-menu="menu-container" class="navbar-container main-menu-content container center-layout" style="width: 100%;"> 
    <!-- include ../../../includes/mixins-->
    <ul id="main-menu-navigation" data-menu="menu-navigation" class="nav navbar-nav">
      <li class="nav-item"> <a href="/" class="nav-link"> <i class="icon-head"></i> <span data-i18n="nav.dash.main">Browse profiles</span> </a> </li>
      <li class="nav-item"> <a href="/search" class="nav-link"> <i class="icon-search7"></i> <span data-i18n="nav.dash.main">Advanced search</span> </a> </li>
      <li class="nav-item"> <a href="/groups" class="nav-link"> <i class="ft-folder"></i> <span data-i18n="nav.dash.main">Profile groups</span> </a> </li>
		<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-clipboard4"></i>Castings</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="/castings" ><i class="icon-align-justify2"></i> <span data-i18n="nav.dash.main">Casting list</span></a>
      <a class="dropdown-item" href="/castings/addForm"><i class="icon-plus4"></i> <span data-i18n="nav.dash.main">New casting</span></a>
      
    </div>
  </li>
      <li class="nav-item"> <a href="/profile/add/" class="nav-link"> <i class="icon-plus4"></i> <span data-i18n="nav.dash.main">Create profile</span> </a> </li>
      <li class="nav-item"> <a href="/keywords" class="nav-link"> <i class="icon-plus4"></i> <span data-i18n="nav.dash.main">Keywords</span> </a> </li>
    </ul>
    
  </div>
  <!-- /horizontal menu content--> 
  
</div>

<!-- Horizontal navigation-->

         
    
{/if}

	
<div class="app-content container center-layout mt-2">
<div class="content-wrapper">
